body {

}

.container {
  overflow: hidden;
  margin: auto;
  width: 80%;
  max-width: inherit;
  font-family: SegoeUI-SemiBold-final,Segoe UI Semibold,SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
  color: black;
}

header {
  text-align: left;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
